/**/__pycache__
/**/node_modules
/**/venv
/**/env/
/**/dist/
/**/build/
/**/logs/
/**/data/

.kilocode/**
.github/**
.ruff_cache/**
.vscode/**
.venv/**

client/**

/**/*.pth
/**/*.json
/**/*.pdf
/**/*.ipynb


logs/**
data/**

uv.lock
pyproject.toml

