name: Deploy FastAPI to App Engine

on:
  push:
    branches:
      - master

permissions:
  contents: read
  id-token: write
  
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Dump OIDC token claims
        shell: bash
        run: |
          TOKEN=$(curl -sSL \
          -H "Authorization: Bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" \
          "${ACTIONS_ID_TOKEN_REQUEST_URL}&audience=debug" \
          | jq -r '.value')

          echo "$TOKEN" | cut -d "." -f2 | base64 -d | jq

      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{secrets.WIF_PROVIDER}}
          service_account: ${{ secrets.GCP_SA_EMAIL }}

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}

      - name: Deploy to App Engine
        run: |
          gcloud app deploy app.yaml --verbosity=debug
